body {
  font-family: 'Roboto', sans-serif;
  background: #fefefe;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  /* display: block; */
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}
.section {
  padding: 120px 0;
}

.button-order {
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  cursor: pointer;
  display: block;
  border: none;
  /* text */
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
}
/* header */

.logo {
  display: flex;
}

.headerr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 16px;
}
.menu {
  display: flex;
}
.menu-ul {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 14px;
  gap: 28px;
  padding-right: 30px;
  /* text */
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
}

/* MAIN */

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-info {
  width: 511px;
  height: 213px;
  /* display: block; */
}
.hero-title {
  padding-bottom: 28px;
  /* text */
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
}

.hero-par {
  padding-bottom: 40px;
  /* text */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}

.hero-img {
  margin: 0 auto;
  /* elipse */
  border: 26px solid #ffe550;
  border-radius: 100%;
  width: 580px;
  height: 580px;
}

/* OFFERINGS */
.offer {
  background-color: #ffe550;
  display: flex;
}

.offer-info {
  width: 573px;
  height: 413px;
}

.offer-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;
  padding-bottom: 20px;
}

.offer-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  padding-bottom: 40px;
}
/* OFFER-LIST */
.offer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.offer-ul {
  display: flex;
  flex-direction: row;
}

.offer-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c2c2c;
  padding-bottom: 16px;
}

.offer-list-par {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.offer-button {
  background: #fff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  width: 106px;
  height: 40px;
}

/* FAVORITES */
.favor {
  /* margin: 0 auto; */
}

.favor-title {
  padding-bottom: 20px;
  /* text */
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: #2c2c2c;
}

.favor-par {
  padding-bottom: 40px;
  /* text */
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #2c2c2c;
}

.favor-ul {
  display: flex;
  column-gap: 32px;
  flex-wrap: wrap;
  row-gap: 32px;
}

.favor-li {
}

.favor-li-img {
  margin: 0 auto;
  /* eclipse */
  border: 16px solid #ffe550;
  border-radius: 197px;
  width: 395px;
  height: 397px;
}
