body {
  font-family: 'Roboto', sans-serif;
  background: #fefefe;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  /* display: block; */
}

.button-order {
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  cursor: pointer;
  display: block;
  border: none;
  /* text */
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
}

.links {
  text-decoration: underline;
  color: #7eb101;
  /* text */
  font-weight: 400;
  font-size: 12px;
}

/* header */

.logo {
  display: flex;
}

.headerr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 16px;
}
.menu {
  display: flex;
}
.menu-ul {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 14px;
  gap: 28px;
  padding-right: 30px;
  /* text */
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
}

/* MAIN */

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-bottom: 55px;
}

.hero-info {
  width: 511px;
  height: 213px;
  /* display: block; */
}
.hero-title {
  padding-bottom: 28px;
  /* text */
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
}

.hero-par {
  padding-bottom: 40px;
  /* text */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}

/* slideshow */

.test {
  * {
    box-sizing: border-box;
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* elipse */
  border: 26px solid #ffe550;
  border-radius: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* slideshow */

/* OFFERINGS */
.offer {
  background-color: #ffe550;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-bottom: 124px;
  padding-top: 113px;
  padding-right: 51px;
}
.offer-img {
  margin: auto;
}

.offer-info {
  width: 573px;
  height: 413px;
  margin: auto;
}

.offer-title {
  padding-bottom: 20px;
  /* text */
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;
}

.offer-par {
  padding-bottom: 40px;
  /* text */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}
/* OFFER-LIST */
.offer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.offer-ul {
  display: flex;
  flex-direction: row;
}

.offer-list-title {
  padding-bottom: 16px;
  /* text */
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c2c2c;
}

.offer-list-par {
  /* text */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.offer-button {
  background: #fff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  width: 106px;
  height: 40px;
  cursor: pointer;
}

/* FAVORITES */
.favor {
  padding-top: 120px;
  padding-left: 32px;
  padding-bottom: 101px;
}

.favor-title {
  padding-bottom: 20px;
  /* text */
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: #2c2c2c;
}

.favor-par {
  padding-bottom: 40px;
  /* text */
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #2c2c2c;
}

.favor-list {
}

.favor-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 32px;
  padding-left: 32px;
}

.favor-li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* eclipse */
  border: 16px solid #ffe550;
  border-radius: 197px;
  width: 395px;
  height: 397px;
}

.favor-li-img {
}

/* Customers */

.customers {
  background-color: #ffe550;
}

.customers-info {
  padding-top: 140px;
  padding-bottom: 126px;
  padding-left: 32px;
  padding-right: 104px;
}

.customers-title {
  padding-bottom: 20px;
  /* text */
  font-weight: 700;
  font-size: 42px;
  color: #2c2c2c;
}

.customers-par {
  padding-bottom: 32px;
  /* text */
  font-weight: 400;
  font-size: 16px;
  color: #2c2c2c;
}

.comments {
  background-color: #7eb101;
  display: flex;
}

.comments-ul {
  display: flex;
  flex-direction: row;
  gap: 153px;
}

.comments-li {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.comments-li-par {
  /* text */
  font-weight: 700;
  font-size: 18px;
  color: #2c2c2c;
}

.user-info {
  display: flex;
  gap: 16px;
  width: 160px;
  height: 53px;
  padding-top: 45px;
}
.user-info-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  /* text */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.user-dude {
  /* text */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

/* GET SPECIAL */

.special {
  display: flex;
  flex-direction: row;
  padding-top: 176px;
  padding-left: 18px;
}

.special-info {
}

.special-title {
  padding-top: 20px;
  /* text */
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  color: #2c2c2c;
}

.special-par {
  padding-top: 20px;
  /* text */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}

.special-form {
  padding-top: 100px;
}

.special-input {
  border: 0.8541666269302368px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 395px;
  /* text */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.special-btn {
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background: #bbf330;
  /* text */
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
}

/* FOOTER */
footer {
  display: flex;
  padding-top: 100px;
}

.footer-up {
  display: flex;
  flex-direction: row;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 28px;
  padding-left: 143px;
  padding-right: 320px;
}
.footer-subcribe {
}

.footer-subcribe-title {
  /* text */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
}

.footer-subcribe-input {
  border: 0.8541666269302368px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  /* text */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.footer-subcribe-btn {
  border: 0.8541666269302368px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;
  background: #fff;
  cursor: pointer;
}

.footer-subcribe-par {
  /* text */
  font-weight: 400;
  font-size: 12px;
  color: #2c2c2c;
}

.footer-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}

.footer-down-ul {
  display: flex;
  flex-direction: row;
  gap: 28px;
}

.footer-down-par {
  /* text */
  font-weight: 400;
  font-size: 12px;
  color: #2c2c2c;
}
